@import "colors.scss";

.account-container {
    width: 100%;

    .avatar {
        display: inline-block;
        img {
            width: 100%;
        }
    }

    .details {
        display: inline-block;
        vertical-align: top;
        text-align: left;

        .name {
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: bold;
        }

        .login {
            font-size: 1rem;
            font-weight: 300;
        }

        .change-password-btn {
            margin-top: 5px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .password-change {
            margin-top: 5px;

            input {
                display: block;
                margin: 8px 0px;
                padding: 8px 5px;
                border: 0px;
                border-bottom: 1px solid $grey;
                box-shadow: none;
                background: transparent;
                color: $grey;
                width: 100%;

                &:focus {
                    border-bottom: 1px solid $white;
                    color: $white;
                }
            }

            .buttons {
                display: flex;

                .btn {
                    flex: 1 1 auto;
                    cursor: pointer;
                    margin: 3px;
                    padding: 3px;
                    display: inline-block;
                    transition: .2s ease-in;
                    text-align: center;
                    color: $background;
                    padding: 10px 2px;
                    border-radius: .25rem;

                    &:not(.disabled):hover {
                        color: $green;
                        background: $background;
                    }

                    &.disabled {
                        color: #AAA;
                        cursor: not-allowed;
                    }
                }

                .save {
                    text-transform: uppercase;
                    margin-left: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .account-container {
        .avatar {
            width: 100%;

            img {
                max-height: 150px;
                object-fit: cover;
            }
        }

        .details {
            width: 100%;
            text-align: center;

            .password-change {
                padding: 0 30px;
            }
        }
    }
}

@media screen and (min-width: 500px) {
    .account-container {
        .avatar {
            width: 50%;

            img {
                height: 100%;
                max-width: 200px;
                max-height: 200px;
                border-radius: 50%;
            }
        }

        .details {
            width: 50%;

            .password-change {
                max-width: 250px;
            }
        }
    }
}
