@import "colors.scss";

$gold: #D4AF37;
$silver: #C0C0C0;
$bronze: #CD7F32;

$medal-size: 40px;

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .player {
        margin: 10px;
        border-radius: 2rem;
        cursor: pointer;
        transition: .3s ease-in;
        border: 1px solid;
        border-color: rgba(255,255,255, 0.3);

        &:hover {
            color: $white;
        }

        &.place-1 {
            border-color: $gold;

            &:hover {
                background: $gold;
            }

            .place {
                background: $gold;
            }
        }

        &.place-2 {
            border-color: $silver;

            &:hover {
                background: $silver;
            }

            .place {
                background: $silver;
            }
        }

        &.place-3 {
            border-color: $bronze;

            &:hover {
                background: $bronze;
            }

            .place {
                background: $bronze;
            }
        }

        &.place-n {
            &:hover {
                background: rgba(255,255,255, 0.3);
            }
        }

        .place {
            border-radius: 50%;
            height: $medal-size;
            width: $medal-size;
            line-height: $medal-size;
            text-align: center;
            display: inline-block;
            font-size: 12pt;
        }

        .name {
            display: inline-block;
            font-size: 14pt;
            padding: 0 15px;
            width: 200px;
        }

        .score {
            margin-right: 10px;
            display: inline-block;
            font-size: 10pt;
            color: rgba(255,255,255, 0.7);
        }
    }
}
