@import "theme/colors.scss";
@import "theme/utils.scss";
@import "theme/loading-app.scss";
@import "theme/login.scss";

::placeholder {
    opacity: .5;
    color: $grey;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding:0;
    transition: 1s;
}
