@import "theme/colors.scss";
@import "theme/login.scss";
@import "theme/scoreboard.scss";

::placeholder {
    color: $grey;
    opacity: .5;
}

body {
    margin: 0;
    padding:0;
    background-image: linear-gradient(to bottom right, $yellow, $green);
    color: $darkest;
}

.logged-container {
    max-width: 900px;
    position: relative;
    margin: auto;
    overflow-x: hidden;
    color: $white;

    min-height: 100vh;

    .header {
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            max-width: 100px;
            display: inline-block;
            filter: invert(100%);
        }

        .logged-user {
            display: inline-block;
            float: right;

            .username {
                font-weight: 600;
            }

            .logout-btn {
                margin-left: 5px;
                text-transform: lowercase;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .content {
        width: 100%;
        min-height: 100%;
    }
}
